:host ::ng-deep .mat-dialog-container {
    display: flex;
    flex-direction: column;
}

.dialog-content-container {
    display: flex;
    flex-direction: column;
    padding: 20px 24px !important;
    margin-top: 0;
}

.full-width-field {
    width: 100%;
}
