// .cor-button {
//     background-color: #8471e2;
//     color: white;
// }

// .container {
//     max-width: 960px;
// }

.main {
    margin-top: 2rem;
}

.mt-20 {
    margin-top: 20px;
}

.mt-2r {
    margin-top: 2rem;
}

.product-header {
    font-weight: 500;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-group-item{
    margin-bottom: 1rem;
}