/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #ede9e0;
    background-image: linear-gradient(#ede9e0, #8471e2);
    

}
