.container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
}

.console {
    width: 90% !important;
}

.mat-icon {
    color: white !important;
}

.example-card {
    width: 35rem;
}

.actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 08px;
}

.cor-button {
    background-color: #8471e2;
    color: white;
}

.red-icon {
    color: red !important;
    cursor: pointer;
}

.roxo-icon {
    color: #8471e2 !important;
    cursor: pointer;
}

.status {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.status .icon {
    color: #8471e2 !important;
    margin-right: 3px;
}

.params-column {
    text-align: center;
}
