.container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    width: 100%;
}

.mat-icon{
    color: white !important;
}

.example-card {
    width: 35rem;
}

.example-header-image {
    background-image: url("https://dominadev.s3.sa-east-1.amazonaws.com/alunos/jonatas.png");
    background-size: cover;
    cursor: pointer;
}

.btn-add{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 08px;
}

.cor-button{
    background-color:#8471e2;
    color: white;
} 

.red-icon {
    color: red !important;
    cursor: pointer;
}

.status{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .icon{
        color: #8471e2 !important;
        margin-right: 3px;
    }
}